#############################
# Authentication
#############################

# can be ldap or none
authentication = none

#############################
# LDAP Config
############################

ldap.host = localhost
ldap.port = 389
ldap.user =
ldap.pass =
ldap.email-field =
ldap.username-field =
ldap.full-name-field =
ldap.connection-string =

############################
# Datomic
############################

datomic.host = localhost
datomic.port = 4334
datomic.database = shared-resource
datomic.edition = free